table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}

.sui-input {
  margin: 7px;
  padding-top: 2px !important;
  padding-bottom: 2px;
}

.search {
  margin: 4px;
  padding-top: 2px !important;
  padding-bottom: 2px;
}